<h1><%= @club.name %></h1>
<p><%= @club.description %></p>

<% if current_user.student? %>
  <%= link_to 'Register for Recruitment', new_club_registration_path(@club) %>
<% end %>

<h2>Special Interest Groups (SIGs)</h2>
<% if @club.sigs.any? %>
  <ul>
    <% @club.sigs.each do |sig| %>
      <li>
        <strong><%= link_to sig.name, club_sig_path(@club, sig) %></strong>
        <p><%= sig.description %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Special Interest Groups have been created for this club yet.</p>
  <% if current_user_convener?(@club) %>
  <%= link_to 'Add SIG', new_club_sig_path(@club) %>
  <% end %>
<% end %>

<%= link_to 'Back to Clubs', clubs_path %>
