<div class="container">
  <h1><%= @club.name %></h1>
  <p><%= @club.description %></p>

  <% if current_user.student? %>
    <%= link_to 'Register for Recruitment', new_club_registration_path(@club), class: "btn btn-primary mb-4" %>
  <% end %>

  <h2>Special Interest Groups (SIGs)</h2>

  <% if @club.sigs.any? %>
    <ul class="list-group mb-4">
      <% @club.sigs.each do |sig| %>
        <li class="list-group-item">
          <strong><%= link_to sig.name, club_sig_path(@club, sig) %></strong>
          <p><%= sig.description %></p>
          <div>
            <%= link_to 'View Schedules', club_sig_schedules_path(@club, sig), class: "btn btn-info btn-sm" %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No Special Interest Groups have been created for this club yet.</p>
  <% end %>

  <% if current_user_convener?(@club) %>
    <%= link_to 'Add SIG', new_club_sig_path(@club), class: "btn btn-secondary mb-2" %>
    <%= link_to 'Create Announcement', new_announcement_path(), class: "btn btn-secondary mb-4" %>
  <% end %>

  <%= link_to 'Back to Clubs', clubs_path, class: "btn btn-secondary" %>
</div>
