<div class="container mt-4">
  <h1 class="mb-4 text-center">Announcement Details</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <p>
        <strong>Subject:</strong>
        <%= @announcement.subject %>
      </p>

      <p>
        <strong>Content:</strong>
        <%= @announcement.content %>
      </p>

      <p>
        <strong>Club:</strong>
        <%= @announcement.club.name if @announcement.club %>
      </p>

      <p>
        <strong>SIG:</strong>
        <%= @announcement.sig.name if @announcement.sig %>
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-4">
    
    <%= link_to 'Back to Announcements', announcements_path, class: "btn btn-secondary" %>
  </div>
</div>
