<h1>Add Recruitment Event for <%= @club.name %></h1>

<%= form_with(model: [@club, @schedule], local: true) do |f| %>
  <div>
    <%= f.label :pre_recruitment_talk_date, "Pre-Recruitment Talk Date" %>
    <%= f.date_select :pre_recruitment_talk_date %>
  </div>

  <div>
    <%= f.label :pre_recruitment_talk_venue, "Pre-Recruitment Talk Venue" %>
    <%= f.text_field :pre_recruitment_talk_venue %>
  </div>

  <div>
    <%= f.label :tasks_applicable, "Are Tasks Applicable?" %>
    <%= f.check_box :tasks_applicable %>
  </div>

  <div>
    <%= f.label :tasks_due_date, "Tasks Due Date" %>
    <%= f.date_select :tasks_due_date %>
  </div>

  <div>
    <%= f.label :oa_applicable, "Is OA Applicable?" %>
    <%= f.check_box :oa_applicable %>
  </div>

  <div>
    <%= f.label :oa_date, "OA Date" %>
    <%= f.date_select :oa_date %>
  </div>

  <div>
    <%= f.label :interview_start_date, "Interview Start Date" %>
    <%= f.date_select :interview_start_date %>
  </div>

  <div>
    <%= f.label :interview_end_date, "Interview End Date" %>
    <%= f.date_select :interview_end_date %>
  </div>

  <div>
    <%= f.label :interview_venue, "Interview Venue" %>
    <%= f.text_field :interview_venue %>
  </div>

  <div>
    <%= f.label :result_date, "Result Date" %>
    <%= f.date_select :result_date %>
  </div>

  <div>
    <%= f.submit "Create Recruitment Event" %>
  </div>
<% end %>

<%= link_to 'Back to Club', club_path(@club) %>
