<h1>Add Schedule for SIG: <%= @sig.name %> (Club: <%= @sig.club.name %>)</h1>

<%= form_with(model: [@club, @sig, @schedule], url: club_sig_schedules_path(@club, @sig), local: true) do |f| %>  
  <%= f.hidden_field :sig_id, value: @sig.id %>  <!-- Hidden field for sig_id -->
  <%= f.hidden_field :club_id, value: @club.id %> <!-- Hidden field for club_id -->

  <div>
    <%= f.label :name, "Schedule Name" %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.submit "Create Schedule" %>
  </div>
<% end %>

<%= link_to 'Back to SIG', club_sig_path(@sig.club, @sig) %>
<%= link_to 'Back to Club', club_path(@club) %>
